
nav{
    position: relative;
    display: flex;
    top: 10px;
    justify-content:flex-end;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
}

.menu{
    background-color: #5BCCF6;
    color: black;
    margin: 5px;
    border-radius: 50px;
    padding: 5px 30px;
}

body{
    background: #FCDE67;
}
.container{
    margin: 20px auto;
    width:60%;
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.box{
    background-color:#5BCCF6;
    padding:20px;
    border-radius:10px;
    color:black;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    font-size:15px;
    font-family:sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 70px;
    top: 85px;
    background: #5BCCF6;
}

@media screen and (max-width:450px){
    #1, #2, #3, #4{
      width: 100%;
    }
}