nav{
    position: relative;
    display: flex;
    top: 10px;
    justify-content:flex-end;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
}

.menu{
    background-color: #5BCCF6;
    color: black;
    margin: 5px;
    border-radius: 50px;
    padding: 5px 30px;
}

body{
    background: #FCDE67;
}

h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 64px;
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 70px;
    top: 10px;
    background: #5BCCF6;
}

.wrapper{
    display: flex;
    width: 100%;
    grid-gap: 10px;
    flex-wrap: wrap;
    
}

.box{
    background-color: #5BCCF6;
    position: relative;
    color: black;
    width: 100%;
    height 150px;
    border-radius: 20px;
    padding: 5px 20px;
    bottom: 40px;
}

@media screen and (max-width:450px){
    #item2, #item3{
        width: 25%;
    }
}
 
@media screen and (max-width:550px){
    #item2, #item3{
        width: 33.333%;
    }
}

@media screen and (min-width:700px){
    .wrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

