nav{
    position: relative;
    display: flex;
    top: 50px;
    justify-content:flex-end;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
}

.menu{
    background-color: #5BCCF6;
    color: black;
    margin: 5px;
    border-radius: 50px;
    padding: 5px 30px;
}

body{
    background: #FCDE67;
}

.title{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 87px;
    text-align: center;

    color: #000000;
}

.subtitle{
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #000000;
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 137px;
    top: 320px;
    background: #5BCCF6;
}
